{{ $related := .Site.RegularPages.Related . | first 5 }}
<!-- {{ $related := .Site.RegularPages.RelatedIndices . "tags" "date" }} -->

{{ with $related }}
	{{ range first 5 . }}
	<!-- BLOCK 2 STARTS -->
	<a class="flex flex-row px-0 md:px-2 pt-5 cursor-pointer" href="{{ .RelPermalink }}">
		<!-- Image -->
		<div class="w-4/12">
		  <img loading="lazy" class="h-20 object-cover w-full" src="{{ .Permalink }}{{ .Params.cover }}" />
		</div>
		<div class="w-8/12 text-sm px-4 flex flex-col justify-between">
		  <div class="font-medium text-black">
			<!-- Spring Fashion Show at the University of Michigan Has
			Started -->
			{{ .Title }}
		  </div>
		  <div class="text-gray-400 text-xs-s">{{ .Date | time.Format ":date_long" }}
		</div>
		</div>
	</a>
	  <!-- BLOCK 2 ENDS -->
	{{ end }}
{{ end }}