<!-- Tags  -->
<div class="flex flex-row flex-wrap">
    <a href="/tags/popular/" class="
        inline-block
        bg-red-600
        py-1.5
        px-2.5
        my-1.5
        cursor-pointer
        uppercase
        text-white text-xs
        tracking-wider
        mr-3
      ">
      Popular
    </a>
    <a href="/tags/trend/" class="
        inline-block
        bg-black
        py-1.5
        px-2.5
        my-1.5
        cursor-pointer
        uppercase
        text-white text-xs
        tracking-wider
        mr-3
      ">
      Trending Now
    </a>
    <a href="/tags/latest/" class="
        inline-block
        bg-yellow-600
        py-1.5
        px-2.5
        my-1.5
        cursor-pointer
        uppercase
        text-white text-xs
        tracking-wider
        mr-3
      ">
      Latest
    </a>
    <a href="/tags/editor/" class="
        inline-block
        bg-purple-600
        py-1.5
        px-2.5
        my-1.5
        cursor-pointer
        uppercase
        text-white text-xs
        tracking-wider
        mr-3
      ">
      Editor
    </a>
    <a href="/tags/nomiss/" class="
        inline-block
        bg-teal-600
        py-1.5
        px-2.5
        my-1.5
        cursor-pointer
        uppercase
        text-white text-xs
        tracking-wider
        mr-3
      ">
      Dont't Miss
    </a>
  </div>